:root {
    /* Colors */
    --color-yolk: #F8E71C;
    --color-ultraviolet: #4C00FF;
    --color-white: #FFFFFF;
    --color-light-gray: #C0C0C0;
    --color-gray: #666666;
    --color-dark-gray: #232323;
    --color-black: #000000;
    --color-transparent: transparent;

    /* Badge Colors */
    --color-primary: #FFFFFF;
    --color-secondary: #666666;
    --color-accent: #F8E71C;
    --color-on-primary: #000000;
    --color-on-secondary: #FFFFFF;
    --color-on-accent: #000000;

    /* Shadows */
    --shadow-text-subtle: 0 1px 2px rgba(0, 0, 0, 0.5);
    --shadow-box-subtle: 0 2px 8px rgba(0, 0, 0, 0.1);
    --shadow-box-medium: 0 4px 16px rgba(0, 0, 0, 0.15);
    --shadow-box-strong: 0 8px 32px rgba(0, 0, 0, 0.2);
    /* Particle shadow sizes */
    --size-particle-shadow-small: 17px;
    --size-particle-shadow-mid: 40px;
    --size-particle-shadow-big: 109px;

    /* Fonts ; Font Sizes */
    --font-title: 'Roundabout-Regular', Urbanist, sans-serif;
    --font-title-size: 16px;
    --font-body: 'Roundabout-Regular', 'Sulphur Point', sans-serif;
    --font-body-size: 16px;
    --font-digit-big: '4pixel', monospace;
    --font-digit-big-size: 10px;
    --font-digit-small: '4pixel', monospace;
    --font-digit-small-size: 5px;
    --font-code: 'Courier New', monospace;
    --font-code-size: 12px;

    /* Sizes */
    --z-index-hud: 1000;
    --size-dot-1: 1px;
    --size-circle-4: 4px;
    --size-circle-6: 6px;
    --size-circle-61: 61px;
    --size-mini-card: 31px;
    --size-square-small: 4px;
    --size-big-paginator-w: 17px;

    --size-mid-card-w: 83px;
    --size-mid-card-h: 109px;
    --size-tab-min-w: 109px;
    --size-tab-h: 23px;
    --size-button-width: 175px;
    --size-blur-playground: 16px;
    --size-line: 1px;

    /* Gap sizes */
    --size-gap-small: 2px;
    --size-gap-large: 16px;

    /* Padding sizes */
    --size-padding-small: 4px;
    --size-padding-medium: 8px;
    --size-padding-large: 12px;
    --size-padding-xlarge: 16px;
    --size-padding-tiny: 1px;

    /* Other sizes */
    --size-outline-offset: 2px;
    --size-hover-translate: 1px;


}