/* ScreenPlayground Styles */

.screenPlayground {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.particle {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10;
}

.particle--matter {
    background-color: var(--color-yolk);
}

.particle--antimatter {
    background-color: var(--color-ultraviolet);
}

.particle--neutrino {
    background-color: var(--color-white);
}

.hudOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 20;
}

.hudContent {
    position: absolute;
    /* TOOD: despite he fact this is a dubuggin infoit should follow the slae theme rules hanve the parameters in Token's, need to rework this part  */
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hudTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hudBottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
}